<!DOCTYPE html>
<html>
<head>
  <title>Layout Master</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <div class="layout">
    <div class="zone green header">
      <div class="hstart">About</div>
      <div class="hstart">Products</div>
      <div class="hstart">Our Team</div>
      <div class="space"></div>
      <div class="hend">Contact</div>
    </div>
    <div class="zone red cover">Cover!!!</div>
    <div class="zone blue projects">
      <div class="project"><img class="icon" src="./img/data_storage_2_2.png" alt="Data Storage"></div>
      <div class="project"><img class="icon" src="./img/desktop_analytics_2.png" alt="Data Storage"></div>
      <div class="project"><img class="icon" src="./img/files_2.png" alt="Data Storage"></div>
      <div class="project"><img class="icon" src="./img/monitor_coding_2.png" alt="Data Storage"></div>
      <div class="project"><img class="icon" src="./img/monitor_settings_2.png" alt="Data Storage"></div>
      <div class="project"><img class="icon" src="./img/server_2_2.png" alt="Data Storage"></div>
      <div class="project"><img class="icon" src="./img/server_3.png" alt="Data Storage"></div>
      <div class="project"><img class="icon" src="./img/server_safe_2.png" alt="Data Storage"></div>
    </div>
    <div class="zone yellow footer">
      <div class="footertext">Made By: Kaustubh</div>
      <div class="footertext">X Startup Technologies</div>
      <div class="footertext"><img src="./img/undraw.png" class="logo" alt=""></div>
    </div>
  </div>
  
</body>
</html>